@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400|Poppins:500,400");
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  width: 100vw;
  background-color: rgb(4.48, 17.61, 21.66);
  min-width: 100vw;
}



a {
  text-decoration: none;
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  
  z-index: 100;
  background-color: #3e0b589c;
}


.logo {
  text-decoration: none;
  cursor: pointer;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
}

.navbar a {
  font-size: 18px;
  color: #fff;
  font-family: "Poppins", Helvetica;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .5s;
  float:inline-end;

}

.navbar a:hover {
    color: #0a5286;
    font-weight: 550;
    border: none;
}

#home { height: 100vh; }
#about { height: 100vh; }
#services { height: 100vh; }
#contact { height: 60vh; }

section {
  display: flex;
  align-items: center;
  justify-content: center;
}


.button:hover {
  color: #094152;
  transform: scale(1.02);
}

/* ----------------------- home-content ---------------------- */


.home-text {
   margin-left: 2vw;
   text-align: left;
}

.home-text h2{
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
}

.home-text h1{
  color: #1250b2;
  font-family: "Poppins", Helvetica;
  font-size: 60px;
}

.home-text p{
  line-height: 1.5rem;
  color: #ffffff;
  font-family: "Poppins", Helvetica;

}

.profile-picture-blob {
  margin-right: 2vw;
  position: flex;
  float: right;
  height: auto;
  max-width: 30%;
  min-width: 20%;
}

/*----------- about me --------------- */
.aboutcontent{
  display: flexbox;
  text-align: center;
}

.aboutme {
  /* transform: translate(41%, -11%); */
  color: #FFF;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 50px;
  padding-top: 50px;
}

.profile-picture-circle {
  /* transform: translate(185%, -15%); */
  padding-bottom: 50px;
  width: 20%;
  height: auto;

}


.aboutme-discription {
  /* width: auto; */
  margin-left: 15vw;
  margin-right: 15vw;
  /* padding-left: 5vw; */
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  padding-bottom: 50px;
}


/* -----------My services ----------*/

.myservices-title {
  display: block;
  position: absolute;
  top: 1800px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  border:#FFF 1px ;
}

.service-container{
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px; 
  
}

.service-block {
  position: flex;
  background-image: url(./img/rectangle-9.svg);
  background-size: 100% 100%;
  width: 361px;
  height: 361px;
  scale: 110%;
}

.img {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 67px;
  left: 119px;
  object-fit: cover;
}

.web-dev-img {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 67px;
  left: 119px;
  object-fit: cover;
}

.web-text {
  position: absolute;
  top: 240px;
  left: 46px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  z-index: 1;
}

.animation-text {
  position: absolute;
  top: 240px;
  left: 25px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}



.graphic-text {
  position: absolute;
  top: 240px;
  left: 57px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

/* ----------- contact me -------------- */

.contactme-title {
  position: absolute;
  top: 310vh;
  text-align: center;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 0;
  line-height: normal;
}

.p {
  position: absolute;
  top: 325vh;
  left: 16vw;
  padding-right: 10vw;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}


.frame {
  display: flex;
  align-items: flex-start;
  gap: 33px;
  position: absolute;
  top: 347.5vh;
  left: 16vw;
}

#gmail-icon:hover,
.facebook:hover,
#whatsapp-icon:hover,
.twitter:hover {
  transform: scale(1.05);
  cursor: pointer;
}


#gmail-icon {
  position: relative;
  width: 50px;
  height: 50px;
  background-image: url(./img/gmail-1-1.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 50% 50%;
}


#gmail-text {
  display: none;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}


.facebook {
  position: relative;
  width: 50px;
  height: 50px;
  background-image: url(./img/facebook-1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

#whatsapp-icon {
  position: relative;
  width: 50px;
  height: 50px;
  background-image: url(./img/whatsapp-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

#whatsapp-number {
  display: none;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.twitter {
  position: relative;
  width: 50px;
  height: 50px;
  background-image: url(./img/twitter-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

/* ------------ footer -------------------- */

.footer {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100px;
  background-color: #08323F;
  align-items: center;
}

.footer-content {
  position: absolute;
  /* width: 10vw; */
  /* height: 24px; */
  top: 4vh;
}

.copyright {
  padding-left: 10vw;
  text-align: center;
  position: flex;
  /* left: 24px; */
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  /* top: 4vh; */
  align-items: center;
}



/* ------------  making responsive -------- */



@media only screen and (max-width: 1300px) {

  .home-text {
    margin-left: 10%;
    margin-right: 10%;
  
    text-align: left;
  }
  
  .profile-picture-blob {
    position: absolute;
    top: 70vh;
    right: 15vw;
    width: 30%;
    padding-bottom: 100px;
  }
 

  .service-container {
    grid-template-columns: 1fr; 
    grid-gap: 50px; 
  }

  .myservices-title {
    padding-bottom: 20vh;
  }

  .service-container{
    top:380vh;
  }
  /* body {
    height: auto;
    width:auto;
  } */
  #services { height: 200vh; }



.contactme-title {
  position: absolute;
  top: 390vh;
  text-align: center;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 0;
  line-height: normal;
}

.p {
  position: absolute;
  top: 400vh;
  left: 14vw;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}


.frame {
  display: flex;
  align-items: flex-start;
  gap: 33px;
  position: absolute;
  top: 422vh;
  left: 14vw;
}





.copyright {
  position: flex;
  padding-left: 8vw;
  /* font-size: 10px; */

}


}
 


@media only screen and (max-width: 441px) {
  .copyright {
    /* left: 24px; */
    font-size: 12px;
  
  }
  .footer{
    width: 100%;
  }
  }
