/* @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"); */
@import url("https://fonts.googleapis.com/css?family=Inter:400|Poppins:500,400");
* {
  /* -webkit-font-smoothing: antialiased; */
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  width: auto;
  /* height: auto; */
  background-color: rgb(4.48, 17.61, 21.66);
}

/* button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
} */

a {
  text-decoration: none;
}

/* .desktop {
  background-color: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgb(9, 1, 24) 0%,
    rgb(4.48, 17.61, 21.66) 97.76%
  );
  overflow-x: hidden;
  overflow-y: hidden;
  height: 365vh;
} */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  
  z-index: 100;
  background-color: #3e0b589c;
}

/* .header.sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
} */
.logo {
  text-decoration: none;
  cursor: pointer;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
}

.navbar a {
  font-size: 18px;
  color: #fff;
  font-family: "Poppins", Helvetica;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .5s;
  float:inline-end;

}
/* .logo {
  position: fixed;
  top: 2vh;
  left: 3vW;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.navbar {   
  position: fixed;
  display: inline-flex;
  top: 3.5vh;
  justify-content: flex-end;
  align-items: flex-start;
  
  flex-shrink: 0;
  z-index: 3;
  gap: 29px;
  right: 10vw;
}


.navbar a {
  font-family: "Poppins", Helvetica;
  font-size: 23px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  /* margin-left: 35px; */
  /* transition: .8s;
  border: none;
  
} */ 

.navbar a:hover {
    color: #0a5286;
    font-weight: 550;
    border: none;
}

#home { height: 100vh; }
#about { height: 100vh; }
#services { height: 100vh; }
#contact { height: 60vh; }

section {
  display: flex;
  align-items: center;
  justify-content: center;
}


.button:hover {
  color: #094152;
  transform: scale(1.02);
}

/* ----------------------- home-content ---------------------- */

/* .home-content {
  display: flex;
} */

.home-text {
   margin-left: 10vh;
   text-align: left;
}

.home-text h2{
  /* line-height: 1.5rem; */
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
}

.home-text h1{
  /* line-height: 1.5rem; */
  color: #1250b2;
  font-family: "Poppins", Helvetica;
  font-size: 60px;
}

.home-text p{
  line-height: 1.5rem;
  color: #ffffff;
  font-family: "Poppins", Helvetica;

}

/* .desktop .hello_there-text {
  position: relative;
  top: 20vh;
  text-align: right;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 60px;
  letter-spacing: 0;
  line-height: normal;
} */


/* .induwara_gamage-text {
  position: relative;
  top: 22vh;
  text-align: right;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #1250b2;
  font-size: 80px;
  letter-spacing: 0;
  line-height: normal;
}



.desktop .job-field {
  position: relative;
  top: 24vh;
  text-align: right;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 60px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .inspiring-quote {
  position: relative;
  top: 24vh;
  text-align: right;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
} */
/* 
.main-image {
  position: flex;
  width:70vw;
  height: 100vh;
} */
.profile-picture-blob {
  position: flex;
  float: right;
  height: auto;
  max-width: 30%;
  min-width: 20%;
}

/*----------- about me --------------- */

/* .profile-picture {
  position: flex;
  height: 100vh;
  width: 70vw;
} */
.profile-picture-circle {
  position: flex;
  padding-top: 15vh;
  width: 20%;
  height: auto;

}


.aboutme {
  color: #FFF;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 10vh;
}


.aboutme-discription {
  position: flex;
  width: 40vw;
  padding-left: 5vw;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}


/* -----------My services ----------*/

.myservices-title {
  display: block;
  position: absolute;
  top: 210vh;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  border:#FFF 1px ;
  /* padding-bottom: 10vh;; */
}

.service-container{
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px; 
  
}

.service-block {
  position: flex;
  background-image: url(./img/rectangle-9.svg);
  background-size: 100% 100%;
  width: 361px;
  height: 361px;
  scale: 110%;
}

.img {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 67px;
  left: 119px;
  object-fit: cover;
}

.web-dev-img {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 67px;
  left: 119px;
  object-fit: cover;
}

.web-text {
  position: absolute;
  top: 240px;
  left: 46px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  z-index: 1;
}

.animation-text {
  position: absolute;
  top: 240px;
  left: 25px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}



.graphic-text {
  position: absolute;
  top: 240px;
  left: 57px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

/* ----------- contact me -------------- */

.contactme-title {
  position: absolute;
  top: 310vh;
  text-align: center;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 0;
  line-height: normal;
}

.p {
  position: absolute;
  top: 325vh;
  left: 16vw;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}


.frame {
  display: flex;
  align-items: flex-start;
  gap: 33px;
  position: absolute;
  top: 347.5vh;
  left: 16vw;
}

#gmail-icon:hover,
.facebook:hover,
#whatsapp-icon:hover,
.twitter:hover {
  transform: scale(1.05);
}


#gmail-icon {
  /* display: block; */
  position: relative;
  width: 50px;
  height: 50px;
  background-image: url(./img/gmail-1-1.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 50% 50%;
}


#gmail-text {
  display: none;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}


.facebook {
  position: relative;
  width: 50px;
  height: 50px;
  background-image: url(./img/facebook-1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

#whatsapp-icon {
  position: relative;
  width: 50px;
  height: 50px;
  background-image: url(./img/whatsapp-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

#whatsapp-number {
  display: none;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.twitter {
  position: relative;
  width: 50px;
  height: 50px;
  background-image: url(./img/twitter-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

/* ------------ footer -------------------- */

.footer {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #08323F;
  /* background-size: 100% 100%; */
}

.footer-content {
  position: relative;
  width: 437px;
  height: 24px;
  top: 1vh;
  left: 16vw;
}

.copyright {
  position: absolute;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.copyright-logo {
  position: absolute;
  width: 15px;
  height: 15px;
  
  top: 25px;
  left: 0;
  object-fit: cover;
}


/* ------------  making responsive -------- */

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}



@media only screen and (min-width: 768px) {

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media(max-width:1200px){
  html {
      font-size: 55%;

  }
}

@media only screen and (max-width: 1200px) {
  .service-container {
    grid-template-columns: 1fr; /* Adjust the number of columns for smaller screens */
    grid-gap: 50px; /* Adjust the grid gap for smaller screens */
  }
  .contactme-title {
    padding-top: 80px;
  }

  .myservices-title {
    padding-bottom: 20vh;
  }
  /* .contactme-title{
    top:390vh;
  } */
  .service-container{
    top:380vh;
  }
  body {
    height: auto;
    width:auto;
  }
  #services { height: 200vh; }
  /* #services { height: 40vh;} */
  /* .footer{
    top:420vh;
  } */
}

